<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <h1 class="header">DIGITAL MUSEUM</h1>
    <div class="img">
        {% for image in images %}
            <div>
                <img src={{ image.url }} alt={{ image.title }}>
                <h3>{{ image.title }}</h3>
            </div>
        {% endfor %}
        <a href={{ url_for('home_bp.home') }}>Back</a>
    </div>
</body>
</html>